.objects-list{
  position: relative;
  text-align: center;
  background-color: #fbfbfb;
  @include breakpoint(tablet){
    margin-top: -0.2vw;
  }
  @include breakpoint(desktop){
    margin-top: -0.2vw;
    // bottom: 1vw;
  }

  #web{
    background-color: #ededed;

    img{
      width: 23.4vw;
      @include breakpoint(tablet){
        width: 6vw;
        padding-top: 4vw;
        padding-bottom: 3vw;
      }
      @include breakpoint(desktop){
        position: relative;
        width: 6vw;
        padding-top: 6.8vw;
        padding-bottom: 3vw;
      }
    }
  }
  #team{

    img{
      width: 23.4vw;
      padding-top: 20.5vw;
      @include breakpoint(tablet){
        width: 6vw;
        padding-top: 4vw;
        padding-bottom: 3vw;
      }
      @include breakpoint(desktop){
        width: 6vw;
        padding-top: 4vw;
        padding-bottom: 3vw;
      }
    }
  }
}

.object{

  @include breakpoint(tablet){
    display: inline-block;
    width: 32.9%;
  }
  @include breakpoint(desktop){
    display: inline-block;
    width: 33%;
  }
    img{
    margin: auto;
    width: 27.4vw;
    padding-top: 17vw;
    padding-bottom: 9.8vw;
    @include breakpoint(tablet){
      width: 7vw;
      padding-top: 4vw;
      padding-bottom: 3vw;
    }
    @include breakpoint(desktop){
      width: 7vw;
      padding-top: 6.7vw;
      padding-bottom: 3vw;
    }
    }

    h2{
    font-size: 6.2vw;
    font-weight: 700;
    letter-spacing: 1.29vw;
    padding-bottom: 18vw;
    color: #222222;
    @include breakpoint(tablet){
      font-size: 2vw;
      font-weight: 700;
      letter-spacing: 0.39vw;
      padding-bottom: 3.5vw;
    }
    @include breakpoint(desktop){
      font-size: 1.2vw;
      font-weight: 700;
      letter-spacing: 0.29vw;
      padding-bottom: 4.2vw;
    }
    }

    .line{
      border: 1px solid #d0d0d0;
      width: 16%;
      position: relative;
      left: 42%;
      bottom: 9vw;
      @include breakpoint(tablet){
        width: 10%;
        left: 45%;
        bottom: 1vw;
      }
      @include breakpoint(desktop){
        border: 1px solid #c4c4c4;
        width: 10%;
        left: 45.5%;
        bottom: 1.4vw;
      }
    }

      p{
        font-size: 5.6vw;
        font-weight: 300;
        padding:1vw 5vw 18vw 5vw;
        color: #666666;
        line-height: 1.68;
        text-align: center;
        @include breakpoint(tablet){
          font-size: 1.6vw;
          font-weight: 300;
          padding:1vw 2vw 7.5vw 2vw;
          line-height: 1.71;
          letter-spacing: 0.01vw;
        }
        @include breakpoint(desktop){
          font-size: 1vw;
          padding:0.8vw 4vw 4.6vw 4vw;
          line-height: 1.71;
          letter-spacing: 0.02vw;
        }
      }
}


.company{

      background-color: #fbfbfb;
      text-align: center;
      // @include breakpoint(tablet){
      //   background-color: #fbfbfb;
      //   text-align: center;
      // }
      // @include breakpoint(desktop){
      //   background-color: #fbfbfb;
      //   text-align: center;
      // }

      h2{
        font-size: 4.4vw;
        font-weight: regular;
        letter-spacing: 0.65vw;
        padding-top: 12.8vw;
        padding-bottom: 10vw;
        color: #999999;
        margin-left: -2vw;
        @include breakpoint(tablet){
          font-size: 1.2vw;
          letter-spacing: 0.2vw;
          padding-top: 8.8vw;
          padding-bottom: 4vw;
        }
        @include breakpoint(desktop){
          font-size: 0.7vw;
          letter-spacing: 0.19vw;
          padding-top: 6.3vw;
          padding-bottom: 2.9vw;
        }
      }

      h1{
        font-size: 11.7vw;
        font-weight: medium;
        color: #222222;
        line-height: 1.13;
        text-align: center;
        letter-spacing: 0.55vw;
        padding: 0 15vw 11vw 15vw;
        margin-left: -2.5vw;
        @include breakpoint(tablet){
          font-size: 4.7vw;
          letter-spacing: 0.1vw;
          padding: 0 15vw 4.2vw 15vw;
          margin-left: -1.5vw;
        }
        @include breakpoint(desktop){
          font-size: 3.3vw;
          letter-spacing: 0.09vw;
          padding: 0 15vw 3vw 15vw;
          margin-left: -0.3vw;
        }
      }

      .line{
        border: 1px solid #c41230;
        width: 18%;
        position: relative;
        left: 41%;
        margin-left: -1vw;
        margin-bottom: 12vw;
        @include breakpoint(tablet){
          width: 5.5%;
          left: 48%;
          margin-left: -1vw;
          margin-bottom: 5.6vw;
        }
        @include breakpoint(desktop){
          width: 4.1%;
          left: 48%;
          margin-left: 0vw;
          margin-bottom: 4vw;
        }
      }

        p{
          font-size: 5.7vw;
          font-weight: lighter;
          padding:0 3vw 19vw 8vw;
          color: #222222;
          line-height: 1.65;
          text-align: left;
          @include breakpoint(tablet){
            font-size: 1.8vw;
            padding:0 9vw 12.5vw 10vw;
            letter-spacing: -0.02vw;
            line-height: 1.55;
          }
          @include breakpoint(desktop){
            font-size: 1vw;
            padding:0 21vw 8.8vw 21.5vw;
            letter-spacing: -0.02vw;
            line-height: 1.55;
          }
        }
}
