.media-object{
  position: relative;
  text-align: center;
  background-color: #fbfbfb;

  #programing{
    font-size: 4.1vw;
    letter-spacing: 0.15vw;
    color: #c41230;
    word-spacing: 2.5vw;
    padding-bottom: 10vw;
  }
}

.development{
    img{
    margin: auto;
    width: 27.4vw;
    padding-top: 17vw;
    padding-bottom: 9.8vw;
    }

    h2{
    font-size: 6.2vw;
    font-weight: 700;
    letter-spacing: 1.29vw;
    padding-bottom: 18.9vw;
    color: #222222;
    }

    .line{
      border: 1px solid #d0d0d0;
      width: 16%;
      position: relative;
      left: 42%;
      bottom: 10vw;
    }

      p{
        font-size: 5.6vw;
        font-weight: 300;
        padding:1vw 5vw 20vw 5vw;
        color: #666666;
        line-height: 1.68;
        text-align: center;
      }
}

.web{
    background-color: #ededed;
    border-left: 1.2vw solid #fbfbfb;
    border-right: 1.2vw solid #ededed;

    img{
    margin: auto;
    width: 23.4vw;
    padding-top: 14.3vw;
    padding-bottom: 9.8vw;
    }

    h2{
    font-size: 6.2vw;
    font-weight: 700;
    letter-spacing: 1.29vw;
    padding-bottom: 18.9vw;
    color: #222222;
    }

    .line{
      border: 1px solid #c4c4c4;
      width: 16%;
      position: relative;
      left: 42%;
      bottom: 10vw;
    }

      p{
        font-size: 5.6vw;
        font-weight: 300;
        padding:0 5vw 19vw 5vw;
        color: #666666;
        line-height: 1.68;
        text-align: center;
      }
}

.team{

      img{
      margin: auto;
      width: 23.3vw;
      padding-top: 20.2vw;
      padding-bottom: 12.5vw;
      }

      h2{
      font-size: 6.2vw;
      font-weight: 700;
      letter-spacing: 1.29vw;
      padding-bottom: 17.6vw;
      color: #222222;
      }

      .line{
        border: 1px solid #d0d0d0;
        width: 16%;
        position: relative;
        left: 42%;
        bottom: 8.6vw;
      }

        p{
          font-size: 5.6vw;
          font-weight: 300;
          padding:0 5vw 20vw 5vw;
          color: #666666;
          line-height: 1.68;
          text-align: center;
        }
}

.jobs{

      background-color: #ffffff;

      h2{
        font-size: 4.4vw;
        font-weight: regular;
        letter-spacing: 0.59vw;
        padding-top: 23vw;
        padding-bottom: 6.3vw;
        color: #999999;
      }

      h1{
        font-size: 11.7vw;
        font-weight: medium;
        color: #222222;
        line-height: 0.992;
        text-align: center;
        letter-spacing: 0.57vw;
        padding-bottom: 10vw;
      }

      .line{
        border: 1px solid #c41230;
        width: 18%;
        position: relative;
        left: 41%;
        margin-left: 2vw;
        margin-bottom: 11vw;
      }

        p{
          font-size: 6vw;
          font-weight: 300;
          padding:0 5vw 23vw 5vw;
          color: #222222;
          line-height: 1.6;
          letter-spacing: 0.1vw;
          text-align: center;
        }
}


.front-end{

   background-color: #f8f7f5;
   text-align: left;

        h2{
          font-size: 5.6vw;
          font-weight: medium;
          padding: 9.5vw 0 4.2vw 5vw;
          color: #222222;
          letter-spacing: 0vw;
        }

        p{
          font-size: 4.7vw;
          font-weight: lighter;
          padding:0 5vw 4vw 5vw;
          color: #222222;
          line-height: 1.38;
        }
}

.pm{

     background-color: #ffffff;
     text-align: left;

       h2{
         font-size: 5.6vw;
         font-weight: medium;
         padding: 9.5vw 0 4.2vw 5vw;
         color: #222222;
         letter-spacing: 0vw;
       }

       p{
         font-size: 4.7vw;
         font-weight: lighter;
         padding:0 5vw 4vw 5vw;
         color: #222222;
         line-height: 1.38;
       }

}

.designer{

      background-color: #f8f7f5;
      text-align: left;

        h2{
          font-size: 5.6vw;
          font-weight: medium;
          padding: 9.5vw 0 4.2vw 5vw;
          color: #222222;
          letter-spacing: 0vw;
        }

        p{
          font-size: 4.7vw;
          font-weight: lighter;
          padding:0 5vw 1.5vw 5vw;
          color: #222222;
          line-height: 1.38;
        }
}

.more-jobs{
  background-color: #ffffff;
  padding: 24vw 5vw 24vw 5vw;

  h2{
    font-size: 4.3vw;
    letter-spacing: 0.7vw;
    background-color: #eeeeee;
    color: #333333;
    width: 70vw;
    height: 16vw;
    margin: auto;
    padding-top: 6vw;

  }
}

.company{

      background-color: #fbfbfb;
      text-align: center;

      h2{
        font-size: 4.4vw;
        font-weight: regular;
        letter-spacing: 0.65vw;
        padding-top: 12.8vw;
        padding-bottom: 10vw;
        color: #999999;
        margin-left: -2vw;
      }

      h1{
        font-size: 11.7vw;
        font-weight: medium;
        color: #222222;
        line-height: 1.13;
        text-align: center;
        letter-spacing: 0.55vw;
        padding: 0 15vw 11vw 15vw;
        margin-left: -2.5vw;
      }

      .line{
        border: 1px solid #c41230;
        width: 18%;
        position: relative;
        left: 41%;
        margin-left: -1vw;
        margin-bottom: 12vw;
      }

        p{
          font-size: 5.7vw;
          font-weight: lighter;
          padding:0 3vw 19vw 8vw;
          color: #222222;
          line-height: 1.65;
          text-align: left;
        }
}
