.c-menu{
background-color: #252424;
text-align: center;
padding-top: 40vw;
padding-bottom: 39vw;
margin-top: 5vw;
z-index: 2;
list-style-type: none;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(0, -115%);
transition: transform 0.5s ease;


       &.open{
        transform: translate(0, 0);
      }

      h3{
        color: #797878;
        font-size: 5.2vw;
        letter-spacing: 0.9vw;
        display: inline-block;
        position: relative;
        float: left;
        padding: 23.5vw 0 0 6.5vw;
      }

      li{
        position: relative;
        color: #c1c1c1;
        font-weight: lighter;
        letter-spacing: 0.1vw;
        font-size: 7.5vw;
        padding-bottom: 17vw;
      }

      .fb, .twitter-1{
        position: relative;
        display: inline-block;
        float: right;
      }

      .fb{
        padding: 20vw 8.5vw 0 0;
        width: 13vw;
      }
      .twitter-1{
        padding: 21vw 8.5vw 0 0;
        width: 16vw;
      }
}
