.c-page-title {
  padding-top: 21.7vw;
h1{
  font-size: 18.6vw;
  font-family: "Roboto";
  font-weight: 500;
  color: rgb(34, 34, 34);
  line-height: 0.992;
  text-align: center;
  padding-top: 32.4vw;
  letter-spacing: 0.3vw;
  margin-left: -2.7vw;
}

h2{
  font-size: 6.2vw;
  font-family: "Roboto";
  color: rgb(34, 34, 34);
  line-height: 2.6;
  text-align: center;
  padding-top: 10.5vw;
  letter-spacing: 0.09vw;
  margin-left: -6vw;
  padding-bottom: 56.5vw;
}

}
