.social{
  background-color: #ffffff;
  padding-top: 26vw;
  padding-bottom: 23vw;
  text-align: center;

  h2{
    font-size: 4.4vw;
    font-weight: regular;
    letter-spacing: 0.65vw;
    // padding-top: 12.8vw;
    padding-bottom: 10vw;
    color: #999999;
 }
  img{
    margin: auto;
    width: 44.4vw;
  }

}
