.social{
  background-color: #ffffff;
  padding-top: 26vw;
  padding-bottom: 23vw;
  text-align: center;
  @include breakpoint(tablet){
    background-color: #ffffff;
    padding-top: 9vw;
    padding-bottom: 13.5vw;
    text-align: center;
  }
  @include breakpoint(desktop){
    background-color: #ffffff;
    padding-top: 7.2vw;
    padding-bottom: 7.5vw;
    text-align: center;
  };

  h2{
    font-size: 4.4vw;
    font-weight: regular;
    letter-spacing: 0.65vw;
    padding-bottom: 10vw;
    color: #999999;
    @include breakpoint(tablet){
      font-size: 1.2vw;
      font-weight: regular;
      letter-spacing: 0.1vw;
      padding-bottom: 2.5vw;
      color: #999999;
    }
    @include breakpoint(desktop){
      font-size: 0.8vw;
      font-weight: regular;
      letter-spacing: 0.12vw;
      padding-bottom: 1.6vw;
      color: #999999;
    }
 }
  img{
    margin: auto;
    width: 44.4vw;
    @include breakpoint(tablet){
      margin: auto;
      width: 14.2vw;
    }
    @include breakpoint(desktop){
      margin: auto;
      width: 10.1vw;
    }
  }
}
