.b-footer{
  background-color: #1e1e1e;
  text-align: center;
  padding: 5vw 0 5vw 0;
  @include breakpoint(tablet){
    display: none;
  }
  @include breakpoint(desktop){
    display: none;
  }


  h2{
    color: #595959;
    font-size: 4vw;
    font-weight: lighter;
  @include breakpoint(tablet){
  display: none;
  }
  @include breakpoint(desktop){
  display: none;
  }
  }
}
