header{
  position: fixed;
  height: 21.7vw;
  background-color: #efe9db;
  width: 100%;
  z-index: 20;
}


#logo{
  display: inline-block;
  position: relative;
  margin: 3.8vw 0 0 4.8vw;
  width: 43vw;
}

.burger{
  display: inline-block;
  position: relative;
  width: 9.3vw;
  float: right;
  margin: 7.2vw 6.3vw 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

}
