header{
  height: 21.7vw;
  // background-color: blue;
}


#logo{
  display: inline-block;
  position: relative;
  width: 47.8vw;
  padding: 3.7vw 0 0 4.8vw;
}

#burger{
  display: inline-block;
  position: relative;
  width: 15.5vw;
  float: right;
  padding: 7.3vw 6.2vw 0 0;
}
