header{
  position: fixed;
  height: 21.7vw;
  background-color: #efe9db;
  width: 100%;
  z-index: 20;
  @include breakpoint(tablet){
    height: 8vw;
    background-color: #f3eee3;
    padding-top: 0.3vw;
  }
}


.logo{
  display: inline-block;
  position: relative;
  margin: 3.8vw 0 0 4.8vw;
  width: 43vw;
  @include breakpoint(tablet){
    margin: 2.5vw 0 0 5.6vw;
    width: 12.5vw;
  }
}

.burger{
  display: inline-block;
  position: relative;
  width: 9.3vw;
  float: right;
  margin: 7.2vw 6.3vw 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  @include breakpoint(tablet){
    width: 2.8vw;
    margin: 2.1vw 2.3vw 0 0;
  }
}
