.text-blocks{

      .jobs{
            background-color: #ffffff;
            text-align: center;

                h2{
                  font-size: 4.4vw;
                  font-weight: regular;
                  letter-spacing: 0.59vw;
                  padding-top: 26vw;
                  padding-bottom: 6.5vw;
                  color: #999999;
                  @include breakpoint(tablet){
                    font-size: 1.2vw;
                    letter-spacing: 0.29vw;
                    padding-top: 15.5vw;
                    padding-bottom: 4vw;
                  }
                  @include breakpoint(desktop){
                    font-size: 0.9vw;
                    letter-spacing: 0.18vw;
                    padding-top: 9.7vw;
                    padding-bottom: 2.7vw;
                  }
                }

                h1{
                  font-size: 11.7vw;
                  font-weight: medium;
                  color: #222222;
                  line-height: 0.992;
                  text-align: center;
                  letter-spacing: 0.57vw;
                  padding-bottom: 10vw;
                  @include breakpoint(tablet){
                    font-size: 4.8vw;
                    letter-spacing: 0.05vw;
                    padding-bottom: 3.8vw;
                  }
                  @include breakpoint(desktop){
                    font-size: 3.4vw;
                    letter-spacing: 0.05vw;
                    padding-bottom: 2.7vw;
                  }
                }

                .line{
                  border: 1px solid #c41230;
                  width: 18%;
                  position: relative;
                  left: 41%;
                  margin-left: 2vw;
                  margin-bottom: 11vw;
                  @include breakpoint(tablet){
                    border: 1px solid #c41230;
                    width: 5.5%;
                    position: relative;
                    left: 45%;
                    margin-left: 2vw;
                    margin-bottom: 4.5vw;
                  }
                  @include breakpoint(desktop){
                    border: 1px solid #c41230;
                    width: 4%;
                    position: relative;
                    left: 45%;
                    margin-left: 3vw;
                    margin-bottom: 4vw;
                  }
                }

                  p{
                    font-size: 6vw;
                    font-weight: 300;
                    padding:0 5vw 23vw 5vw;
                    color: #222222;
                    line-height: 1.6;
                    letter-spacing: 0.1vw;
                    text-align: center;
                    @include breakpoint(tablet){
                      font-size: 2.3vw;
                      padding:0 14vw 5vw 14vw;
                      line-height: 1.5;
                      letter-spacing: 0.02vw;
                    }
                    @include breakpoint(desktop){
                      font-size: 1.6vw;
                      padding:0 24.5vw 5.4vw 24.5vw;
                      line-height: 1.5;
                      letter-spacing: 0.025vw;
                    }
                  }
             }


      .job{

               background-color: #f8f7f5;
               text-align: left;
               @include breakpoint(tablet){
                 background-color: #ffffff;
               }
               @include breakpoint(desktop){
                 background-color: #ffffff;
               }


                    h2{
                      font-size: 5.6vw;
                      font-weight: medium;
                      padding: 9.5vw 0 4.2vw 5vw;
                      color: #222222;
                      letter-spacing: 0vw;
                      @include breakpoint(tablet){
                        font-size: 1.9vw;
                        padding: 4.5vw 0 0.3vw 9vw;
                        letter-spacing: 0.05vw;
                      }
                      @include breakpoint(desktop){
                        font-size: 1.3vw;
                        padding: 3.8vw 0 0.3vw 21vw;
                        letter-spacing: 0.06vw;
                      }
                    }

                    p{
                      font-size: 4.7vw;
                      font-weight: lighter;
                      padding:0 5vw 4vw 5vw;
                      color: #222222;
                      line-height: 1.38;
                      @include breakpoint(tablet){
                        display: inline-block;
                        font-size: 1.8vw;
                        padding:1.7vw 5vw 3.1vw 9vw;
                        line-height: 1.47;
                        width: 60vw;
                      }
                      @include breakpoint(desktop){
                        display: inline-block;
                        font-size: 1.3vw;
                        letter-spacing: 0.001vw;
                        padding:1.1vw 5vw 2.1vw 21vw;
                        line-height: 1.47;
                        width: 65vw;
                      }
                    }
                    .programing{
                      font-size: 4.1vw;
                      letter-spacing: 0.15vw;
                      color: #c41230;
                      word-spacing: 2.5vw;
                      padding-bottom: 10vw;
                      @include breakpoint(tablet){
                      display: none;
                      }
                      @include breakpoint(desktop){
                      display: none;
                      }
                    }
                    .programing-2{
                      p{
                      display: none;
                    }
                      @include breakpoint(tablet){
                        margin-left: 9vw;
                        padding-bottom: 4vw;
                        p{
                        color: #c41230;
                        display: inline-block;
                        border: 1px solid #bbbbbb;
                        text-align: center;
                        width: 9vw;
                        font-weight: 400;
                        font-size: 1.2vw;
                        padding: 0.8vw 1vw 0.6vw 1vw;
                        margin-right: 0.2vw;
                        margin-bottom: 3vw;
                      }
                    }
                      @include breakpoint(desktop){
                        margin-left: 21vw;
                        padding-bottom: 2vw;
                        p{
                        color: #c41230;
                        display: inline-block;
                        border: 1px solid #bbbbbb;
                        text-align: center;
                        width: 6vw;
                        font-weight: 400;
                        font-size: 0.8vw;
                        padding: 0.6vw 1vw 0.6vw 1vw;
                        margin-right: 0.2vw;
                        margin-bottom: 0.8vw;
                      }
                    }
                  }
                    .apply{
                      display: none;
                      @include breakpoint(tablet){
                        display: inline-block;
                        position: relative;
                        top: -0.4vw;
                        color: #222222;
                        font-size: 1.4vw;
                        letter-spacing: 0.2vw;
                        width: 16.4vw;
                        border: 1.5px solid #222222;
                        padding: 1.4vw 1vw 0.8vw 1vw;
                        text-align: center;
                        margin-left: 13.9vw;
                      }
                      @include breakpoint(desktop){
                        display: inline-block;
                        position: relative;
                        top: -0.3vw;
                        color: #222222;
                        font-size: 1vw;
                        letter-spacing: 0.15vw;
                        width: 11.8vw;
                        border: 1.5px solid #222222;
                        padding: 1vw 1vw 0.6vw 1vw;
                        text-align: center;
                        margin-left: 2vw;
                      }
                    }
               }

      article:nth-child(3){
          background-color: #ffffff;
            @include breakpoint(tablet){
              background-color: #222222;
              h2{
                color: #ffffff;
              }
              p{
                color: #ffffff;
              }
              .apply{
                color: #ffffff;
                border: 1.5px solid #ffffff;
              }
              .programing-2{
                p{
                  color: #ffffff;
                  border: 1px solid #ffffff;
                }
              }
            }
            @include breakpoint(desktop){
              background-color: #222222;

              h2{
                color: #ffffff;
              }
              p{
                color: #ffffff;
              }
              .apply{
                color: #ffffff;
                border: 1.5px solid #ffffff;
              }
              .programing-2{
                p{
                  color: #ffffff;
                  border: 1px solid #ffffff;
                }
              }
            }
      }

      .more-jobs{
              background-color: #ffffff;
              padding: 24vw 5vw 24vw 5vw;
              text-align: center;
                @include breakpoint(tablet){
                  padding: 3.2vw 5vw 14vw 5vw;
                }
                @include breakpoint(desktop){
                  padding: 6.8vw 5vw 9.8vw 5vw;
                }
              h2{
                font-size: 4.3vw;
                letter-spacing: 0.7vw;
                background-color: #eeeeee;
                color: #333333;
                width: 70vw;
                height: 16vw;
                margin: auto;
                padding-top: 6vw;
                @include breakpoint(tablet){
                  font-size: 1.4vw;
                  letter-spacing: 0.2vw;
                  width: 21.6vw;
                  height: 5vw;
                  padding-top: 2vw;
                }
                @include breakpoint(desktop){
                  font-size: 1vw;
                  letter-spacing: 0.13vw;
                  width: 15.4vw;
                  height: 3.5vw;
                  padding-top: 1.5vw;
                }
              }
            }
}
